body {
    box-sizing: content-box;
}

a {
    color: inherit;
}

.main_wrapper {
    margin: 0 auto;
}

.sections {

}

.main-header {
    
}

.main-home__aside {
 
}

.home_aside {
    width: 100%;
    background: url('../img/home-img.jpg') no-repeat -343px -30px;
    background-size: auto 820px;
}

.main_home {
    background-color:#f0e2d7;
}

.main-navigation {
    position: sticky;
    top: 0;
    text-transform: uppercase;
    padding-left: 50%;
}

.main-navigation div {
    display: inline-block;
}

.main-navigation div:hover {
    background-color: rgba(0,0,0,0.2);
}

.about {

}

.about__curriculum {
    background-color: #ffffff;
}

.about__small-sections {
    text-align: center;
    padding: 5%;
    min-height: 350px;
}

.my_skills_aside {
    background: url('../img/about-img.jpg') no-repeat -525px -30px;
}

.my_skills {
    background-color: #e4ae58;
}

.progress-bar {
    background-color: white;
}

.progress-bar__progress {
    height:4px;
    background-color: black;
}

.progress-bar__progress_frontend {
    width: 90%;
}

.progress-bar__progress_backend{
    width: 70%;
}

.progress-bar__progress_html {
    width: 80%;
}

.about__interface-design {
    background-color: #e4ae58;
}

.about__media-strategy {
    background-color: #e9714c;
}

.about__media-strategy .fa-inverse {
    color: #e9714c;
}

.about__mobile-app {
    background-color: #161616;
}

.about__coding {
    background-color: #ffffff;
}

.my-experience {

}

.my-experience__info-aside {
    overflow: hidden;
}

.my-experience__info-aside img {
    width: 100%;
    height: auto;
}

.my-experience__info {
    background-color: #e9714c;
}

.education {
    background-color: #e4ae58;
}

.education li {
    list-style-type: none;
}

.education__aside {
    overflow: hidden;
}

.proin {
    width: 100%;
    height: 480px;
    text-align: center;
    background: url("../img/quotes-bg.jpg") no-repeat 0px 0px;
    background-size: cover;
    background-color: rgba(0,0,0,0.2);
}

.contact {
    
}

.contact__form {
    background-color: #e9714c;
}

.contact__addresses {
    background-color: #161616;
}

.addresses__aside {
    overflow: hidden;
}

.addresses__aside__image {
   
    margin: -90px -150px -230px -510px;
}

.main_footer {
    text-align: center;
}