html {
    overflow-y: scroll;
    font-size: 24px;
}

.body__main-wrapper {
    min-width: 305px;
}

.main-wrapper__section {
    flex-direction: column;
}

.main-home__aside {
    width: 100%;
}

.main-header__photo {
    min-width: 305px;
    height: 60vw;
    background: url(../img/home-img.jpg) no-repeat;
    background-size: auto 90vw;
}

.main-home {
    width:  100%;
    padding: 3%;
}

.about__small-sections_image {
    background: url(../img/about-img.jpg) no-repeat center;
    background-size: cover;
}

.my-experience__my-experience-item .fa-li,
.education__education-item .fa-li {
    left: -1.6em;
}

.my-experience__info-aside {
    margin-bottom: -6px;
}

.my-experience-info-aside__image {
    width: 100%;
}

.education {
    padding: 0 5% 5%;
}

.testimonial__image-wrapper {
    margin-bottom: -6px;
}

.testimonial-image-wrapper__image {
    width: 100%;
    height: auto;
}

.proin__text {
    font-size: 1.5rem;
}

.contact {
    text-align: center;
}

.contact__form {
    padding-bottom: 10%;
}

.contact__addresses {
    padding: 5%;
}

.contact__image-wrapper {
    width: 100%;
    background: url(../img/contact-img.jpg) no-repeat;
    background-size: 100% auto;
    height: -webkit-fill-available;
}

.contact-image-wrapper__image {
    width: 100%;
    height: auto;
}