body {
    font-size: 36px;
}

.main_wrapper {
    max-width: 1480px;
}

.sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

.main-home__aside {
    width: 100%;
}

.main_home {
    width:  100%;
}

.about__curriculum {
    width: 100%;
}

.about__small-sections {
    width: 40%;
}

.my-experience__info-aside {
    width: 100%;
    height: 350px;
}

.my-experience__info {
    width: 100%;
}

.education {
    width: 100%;
}

.education__aside {
    width: 100%;
}

.contact__form {
    height: 620px;
    width: 100%;
}

.contact__addresses {
    width: 50%;
}

.addresses__aside {
    width: 50%;
}