.body {
    font-size: 36px;
}

.body__main-wrapper {

}



.main-home__aside {
    width: 100%;
}

.main-header__photo {
    background: url(../img/home-img.jpg) no-repeat -70px 0px;
    background-size: auto 90vw;
    width: 100vw;
    height: 56vw;
    /* background-size: contain; */
}

.main-home {
    width:  100%;
    padding: 3% 4% 10% 4%;
}

.main-navigation {
    padding-left: 0;
}

.main-wrapper__main-navigation {
    width: 100%;
}

.main-navigation_desktop {
    display: none;
}

.main-navigation_burger {
    display: unset;
}

.about__curriculum {
    width: 100%;
}

.about__small-sections {
    width: 50%;
}

.my-experience__info-aside {
    width: 100%;
    /* height: 350px; */
}

.my-experience-info-aside__image {
    width: 100%;
    height: 100%;
    /* margin: 0 auto; */
}

.my-experience__info {
    width: 100%;
}

.testimonial__education {
    width: 100%;
    padding: 4%;
}

.testimonial__image-wrapper {
    width: 100%;
    height: 75vw;
}

.contact__form {
    height: 620px;
    width: 100%;
    padding: 7%;
}

.contact__addresses {
    width: 50%;
    padding: 2%;
}

.contact__image-wrapper {
    width: 50%;
}

.contact-image-wrapper__image {
    height: 100%;
    width: 100%;
}