.form {
    padding: 20px 0 0 20px;
    width: 420px;
    height: 470px;
}

.form__headline_main {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.6px;
}

.form__headline_addititional {
    background-color: #ececec;
    display: inline;
    font-family: "Comic sans", sans-serif;
    margin-left: 12px;
    font-size: 14px;
    padding: 2px;
    letter-spacing: -0.3px;
}

.form__description {
    letter-spacing: -0.5px;
    margin-bottom: 22px;
}

.form__form_action_label {
    letter-spacing: -0.6px;
}

.form__form_action {
    margin-top: 5px;
    margin-bottom: 29px;
    width: 100%;
}

.form__choice_type {
    margin: 4px 0 20px 0;
    padding: 4px 6px;
}

.form__choices_wrapper {
    width: 400px;
    box-shadow: #333;
    padding: 10px 0 0px 10px;
    font-size: 19px;
    letter-spacing: -0.6px;
    margin-bottom: 20px;
    border: 1px solid gray;
}

.form__choices_wrapper__choice_wrapper {
    border: 1px solid gray;
    width: 330px;
    display: inline-block;
    margin: 0px 0 15px;
}

/*custom radiobuttons*/
.form__choices_label {
    display: block;
    position: relative;
    padding-left: 35px;
    
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.form__choices_label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.form__choices_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.form__choices_label:hover input ~ .form__choices_checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.form__choices_label input:checked ~ .form__choices_checkmark {
    
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.form__choices_checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.form__choices_label input:checked ~ .form__choices_checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.form__choices_label .form__choices_checkmark:after {
 	top: 4px;
	left: 4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #0085ba;
}
/*end custom radiobuttons*/

.form__choices__disabler {
    position: relative;

    width: 12px;
    height: 12px;
    opacity: 0.3;
    }
.form__choices__disabler:hover {
    opacity: 1;
    }
.form__choices__disabler:before, .form__choices__disabler:after {
    position: absolute;
    left: 8px;
    top: 8px;
    content: ' ';
    height: 12px;
    width: 2px;
    background-color: #333;
    }
.form__choices__disabler:before {
    transform: rotate(45deg);
    }
.form__choices__disabler:after {
    transform: rotate(-45deg);
    }

.form__default_checkbox {
    display: none;
}

.form__custom_checkbox {
    height: 8px;
    width: 8px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    background-color:#FFF;
    border-radius:2px;
    padding:3px;
    cursor: pointer;
}

[type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    top: -4px;
    left: 0;
    font-size:20px;
    color:#0085ba;
  }

.form__submit {
    margin-top: 22px;
    border-radius: 2px;
    background-color: #0085ba;
    color: #ffffff;
    padding: 5px 10px 5px 7px;
    letter-spacing: -0.4px;
}