.form__headline_main {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.6px;
}

.form__headline_addititional {
    background-color: aquamarine;
    display: inline;
    font-family: "Comic sans", sans-serif;
}

.form__choices__disabler {
    position: relative;

    width: 12px;
    height: 12px;
    opacity: 0.3;
    }
.form__choices__disabler:hover {
    opacity: 1;
    }
.form__choices__disabler:before, .form__choices__disabler:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 12px;
    width: 2px;
    background-color: #333;
    }
.form__choices__disabler:before {
    transform: rotate(45deg);
    }
.form__choices__disabler:after {
    transform: rotate(-45deg);
    }