footer {
    columns: 3;
}
footer :first-child {
    margin-top: 0px;
}

nav {
    position: fixed;    
    margin-top: 5px;
    padding-left: 600px;
    z-index: 0;
}

nav ul li {
    display: inline;
    font-size: 2em;
}

p::first-letter {
    color: #880900;
    font-weight: bold;
    font-size: 2em;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: #0a0347;
    font-weight: 500;
}

h1 {
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #ebdc0a;

    z-index: 999;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: #779977;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: #444444;
}