.main-wrapper__footer {
    height: 10vw;
}

.main-wrapper__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.main-wrapper__main-navigation {
    position: fixed;
    top: 0;
    right: 0;
}