.main-navigation {
    position: fixed;
    top: 0;
    right: 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-top: 42px;
}

.main-navigation__menu {
    display: flex;
    justify-content: left;
    user-select: none;
    flex-wrap: wrap;
    text-decoration: none;
}

.menu__item {
    /* text-align: left; */
    text-decoration: none;
    margin: 0 31px 0 0;
}

.main-navigation__item:hover {
    
}

.main-navigation__check {
    display: none;
}

.main-navigation__showmenu, 
.main-navigation__back {
    display: none;
}